<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
<head>
  <title>ratings exporter for Netflix</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "bootstrap-tabs" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <style>
  body
  {
    padding-top: 60px;
  }  
  </style>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= Rails.application.config.google_analytics_prop_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Place this render call where appropriate -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <meta itemprop="name" content="Ratings Exporter for Netflix">
  <meta itemprop="description" content="Export your ratings from Netflix.">
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= Rails.application.config.facebook_app_id %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/<%= Rails.application.config.uservoice_id %>.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= render :partial => "/shared/topbar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <%= render :partial => "/shared/alert_notice" %>
      <%= yield %>
    </div>
    <%= render :partial => "/shared/info" %>
    <%= render :partial => "/shared/footer" %>
  </div>
</body>
</html>
