<!DOCTYPE html>
<html>
<head>
  <title>ratings exporter for Netflix</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <style>
  body
  {
    padding-top: 60px;
  }  
  </style>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= Rails.application.config.google_analytics_prop_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= render :partial => "/shared/topbar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <%= render :partial => "/shared/alert_notice" %>
      <%= yield %>
    </div>
    <%= render :partial => "/shared/info" %>
    <%= render :partial => "/shared/footer" %>
  </div>
</body>
</html>
